<h1>{{model.question}}</h1>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="question">question</label>
      {{input id="question" class="form-control" value=question}}
      <br>
      <label for="description">Description</label>
      {{textarea id="description" class="form-control" value=description}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Done</button>
  </form>


{{else}}
  <h1>{{model.question}}</h1>

  <h2>by {{model.author}}</h2>

  <hr>

  <div class="body">
    {{model.description}}
  </div>
  <br>
  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
{{/if}}


<button class="btn btn-danger" {{action 'delete'}}>Delete Question</button>
